nav {
    width: 280px;
    display: block;
    position: fixed;
    left: 20px;
    font-size: 15px;
    opacity: 0.3;
    transition: 0.4s;
}
nav:hover {
    opacity: 1;
    transition: 0.4s;
}
nav a {
    text-decoration: none;
    color: grey;
}
nav a:hover {
    color: black;
}
nav li {
    margin: 6px 0;
}
nav h2 {
    font-weight: bold;
}
nav ol > ol {
    margin-left: 10px;
}